In [26]:
import pandas as pd

In [27]:
df = pd.read_csv("G:\My Drive\projects\data_science\working\dataset\AI_Resume_Screening.csv")

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\gayat\AppData\Local\Temp\ipykernel_26028\2871879265.py:1: SyntaxWarning: invalid escape sequence '\M'
  df = pd.read_csv("G:\My Drive\projects\data_science\working\dataset\AI_Resume_Screening.csv")

In [28]:
all_skills = []
for s in df["Skills"].dropna():
    skills = [skill.strip() for skill in s.split(",")]
    all_skills.extend(skills)

unique_skills = sorted(set(all_skills))

print(f"Total unique skills: {len(unique_skills)}")
print(unique_skills[:30])

Total unique skills: 14
['C++', 'Cybersecurity', 'Deep Learning', 'Ethical Hacking', 'Java', 'Linux', 'Machine Learning', 'NLP', 'Networking', 'Python', 'Pytorch', 'React', 'SQL', 'TensorFlow']

In [29]:
df_1 = pd.read_csv("G:\My Drive\projects\data_science\working\dataset\jobss.csv")

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\gayat\AppData\Local\Temp\ipykernel_26028\1136566128.py:1: SyntaxWarning: invalid escape sequence '\M'
  df_1 = pd.read_csv("G:\My Drive\projects\data_science\working\dataset\jobss.csv")

In [30]:
for s in df_1["Key Skills"].dropna():
    skills = [skill.strip() for skill in s.split("|")]
    all_skills.extend(skills)

unique_skills = sorted(set(all_skills))

print(f"Total unique skills: {len(unique_skills)}")
print(unique_skills[:30])

Total unique skills: 2161
['.NET', '.NET development', '.Net', '.net', '.net developer', '11g', '3D', '3D Modeling', '3G', '3GPP', '4G', 'ADFS', 'AO engagement', 'AP', 'API', 'API Testing', 'ASM', 'ASP', 'ASP.Net MVC', 'AWS', 'Accent', 'Account Assistant', 'Account Management', 'Accounting', 'Accounting Entries', 'Accounts', 'Accounts Executive', 'Accounts receivable', 'Action plan', 'Active Directory']

In [14]:
df_2 = pd.read_csv(r"G:\My Drive\projects\data_science\working\dataset\resume_dataset_1200.csv")

In [31]:
for s in df_2["Skills"].dropna():
    skills = [skill.strip() for skill in s.split(",")]
    all_skills.extend(skills)

unique_skills = sorted(set(all_skills))

print(f"Total unique skills: {len(unique_skills)}")
print(unique_skills[:30])

Total unique skills: 2195
['.NET', '.NET development', '.Net', '.net', '.net developer', '11g', '3D', '3D Modeling', '3G', '3GPP', '4G', 'ADFS', 'AO engagement', 'AP', 'API', 'API Testing', 'ASM', 'ASP', 'ASP.Net MVC', 'AWS', 'Accent', 'Account Assistant', 'Account Management', 'Accounting', 'Accounting Entries', 'Accounts', 'Accounts Executive', 'Accounts receivable', 'Action plan', 'Active Directory']

In [32]:
df_3 = pd.read_csv("G:\My Drive\projects\data_science\working\dataset\stack_network_links.csv")

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\gayat\AppData\Local\Temp\ipykernel_26028\90045147.py:1: SyntaxWarning: invalid escape sequence '\M'
  df_3 = pd.read_csv("G:\My Drive\projects\data_science\working\dataset\stack_network_links.csv")

In [33]:
for s in df_3["source"].dropna():
    skills = [skill.strip() for skill in s.split(",")]
    all_skills.extend(skills)

unique_skills = sorted(set(all_skills))

print(f"Total unique skills: {len(unique_skills)}")
print(unique_skills[:30])

Total unique skills: 2265
['.NET', '.NET development', '.Net', '.net', '.net developer', '11g', '3D', '3D Modeling', '3G', '3GPP', '4G', 'ADFS', 'AO engagement', 'AP', 'API', 'API Testing', 'ASM', 'ASP', 'ASP.Net MVC', 'AWS', 'Accent', 'Account Assistant', 'Account Management', 'Accounting', 'Accounting Entries', 'Accounts', 'Accounts Executive', 'Accounts receivable', 'Action plan', 'Active Directory']

In [34]:
skills = [x.lower() for x in unique_skills]
skills = sorted(set(skills))

In [35]:
print(len(skills))

1865

In [36]:
final_df = pd.DataFrame({"skill":skills})

In [37]:
final_df.to_csv("G:\My Drive\projects\data_science\working\dataset\skills.csv", index = False)

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\gayat\AppData\Local\Temp\ipykernel_26028\68390848.py:1: SyntaxWarning: invalid escape sequence '\M'
  final_df.to_csv("G:\My Drive\projects\data_science\working\dataset\skills.csv", index = False)