In [1]:
import pandas as pd
import numpy as np

In [2]:
import random

names_file = r"G:\My Drive\projects\data_science\working\dataset\IndianNamesUnique.csv"
profiles_file = r"G:\My Drive\projects\data_science\working\dataset\student_profiles_education_levels_50000.csv"

names_df = pd.read_csv(names_file)
profiles_df = pd.read_csv(profiles_file)

if len(names_df) < len(profiles_df):
    raise ValueError("Not enough names in the names dataset to replace all profiles!")

unique_names = random.sample(list(names_df['Name']), len(profiles_df))

profiles_df['Name'] = unique_names

output_file = r"G:\My Drive\projects\data_science\working\dataset\student_profiles_updated.csv"
profiles_df.to_csv(output_file, index=False)

print(f"Updated dataset saved to: {output_file}")
print(profiles_df.head())

Updated dataset saved to: G:\My Drive\projects\data_science\working\dataset\student_profiles_updated.csv
         Name  10th marks 12th course  12th marks grad course  \
0  AMIRSHAYAN        62.9         NaN         NaN         NaN
1     SOANJAN        93.4        Arts        85.0        BCom
2     VAISHMI        65.6        Arts        69.4       BTech
3    DEDEEPYA        76.2    Commerce        69.4         NaN
4      HAMESH        86.2     Science        89.7         NaN

              grad stream  grad marks                skills  \
0                     NaN         NaN                   NaN
1  Electrical Engineering        71.8  Excel, Communication
2  Mechanical Engineering        65.2                   NaN
3                     NaN         NaN                   NaN
4                     NaN         NaN                   NaN

           languages known             internships taken  \
0  Punjabi, English, Hindi                           NaN
1       Urdu, Hindi, Tamil                           NaN
2                      NaN                           NaN
3          Tamil, Gujarati                           NaN
4                      NaN  Finance Intern at Local Firm

                        additional certifications
0  Certificate in IFRS, Oracle Java Certification
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN